.header_foot {
    background-color: darkblue;
}

.white_text {
    color: white;
}

#option_menu {
    display: inline-block;
    background-color: lightsalmon;
    height: 700px;
    margin: 0;
    padding-right: 1%;
    border: 0;
}

#bg_div {
    background-color: lightgray;
    height: 800px;
}

#bg_chatbox {
    display: inline;
    position: absolute;
    margin-left: 1%;

}

#chatbox {
    width: 100%;
    height: 600px;
    resize: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#h1_header {
    display: inline-block;
    color: coral;
}

a {
    color: white;
    display: inline-block;
}

#create_button {
    background-color: darkblue;
    color: white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}
